<ul>
  <li>Acceleration: {{ acceleration }}</li>
  <li>Velocity: {{ velocity }}</li>
</ul>

<div>
  <table>
    <tbody>
      <tr>
        <td></td>
        <td>
          <div class="key-icon arrow-up"></div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="key-icon arrow-left"></div>
        </td>
        <td>
          <!--<div class="key-icon arrow-down"></div>-->
        </td>
        <td>
          <div class="key-icon arrow-right"></div>
        </td>
      </tr>
      <tr>
        <td colspan=100%>
          <div class="key-icon space-bar"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
