<div class="ship-wrapper">
  <div class="ship">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 100 125"
      enable-background="new 0 0 100 100"
      shape-rendering="geometricPrecision "
      xml:space="preserve">
        <g>
          <polygon
            fill="none"
            points="79.903,92.18 50,12.983 20.097,92.18  "/>
          <path 
            fill="#fff"
            d="M83.982,95L50,5L16.018,95H83.982z M79.903,92.18H20.097L50,12.983L79.903,92.18z"/>
        </g>    
    </svg>    
  </div>
</div>
<flame [show]="isAccelerating"></flame>
